version: "3.7"
services:
  postgres:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: posthog
      POSTGRES_DB: posthog
    ports:
      - 5432:5432
    expose:
      - "5432"
    volumes:
      - db-data:/var/lib/postgresql/data:cached

  api:
    build: .
    restart: on-failure
    depends_on:
      - postgres
    environment:
      DB_DRIVER: "postgresql+asyncpg"
      DB_USER: "postgres"
      DB_PASSWORD: "posthog"
      DB_HOST: "postgres"
      DB_PORT: 5432
      DB_NAME: "posthog"
    ports:
      - 8000:8000

volumes:
  db-data:
